<!DOCTYPE html>
<html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
            <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <h1>

        </h1>

        <form> 
            <div>
                <div> 
                    <div>
                        <label for="email-address"> 
                        Email address

                    </div>

                    <div class="">
                        <input type="email"
                        placeholder="user@example.com"
                        value="email"
                        id="email-addres"
                        >
                    </div>
                </div>

                <div> 
                    <div>
                        <label for="username"> 
                        Username

                    </div>

                    <div class="" id="username">
                        <input type="text"
                        placeholder="Introduce your username"
                        value="username"
                        >
                    </div>
                </div>

                <div> 
                    <div>
                        <label for="phone-number"> 
                        Phone number

                    </div>

                    <div class="">
                        <input type="tel"
                        placeholder="Introduce your phone number"
                        value="phone number"
                        id="phone-number"
                        >
                    </div>
                </div>

                <div> 
                    <div>
                        <label for="password"> 
                        Password

                    </div>

                    <div class="" id="password">
                        <input type="password"
                        placeholder="Introduce your password"
                        value="password"
                        id="introduce_password"
                        >
                    </div>
                </div>

                <div> 
                    <div>
                        <label for="confirm-password"> 
                        Confirm Password

                    </div>

                    <div class="confirm-password" id="password">
                        <input type="password"
                        placeholder="Introduce your password"
                        value="ok-password"
                        id="ok-pasword"
                        >
                    </div>
                </div>

            </div>

        </form>
    </body>

</html>